article img {
    max-width: 100%;
    height: auto;
}

.head {
    --s: 37px; /* control the size */
    
    --c:#0000,#136ec917 .5deg 119.5deg,#0000 120deg;
    --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
    --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
    --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
    background:
      var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
      var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
      var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
      #ffffff12;
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
  }

pre {
    padding: 1rem;
    overflow: auto;
}
/* The line numbers already provide some kind of left/right padding */
pre[data-linenos] {
    padding: 1rem 0;
}
pre table td {
    padding: 0;
}
/* The line number cells */
pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}
pre mark {
    /* If you want your highlights to take the full width */
    display: block;
    /* The default background colour of a mark is bright yellow */
    background-color: rgba(254, 252, 232, 0.9);
}
pre table {
    width: 100%;
    border-collapse: collapse;
}