<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta property="og:image" content="/img/ProfilePhoto-400.jpg" /> -->

    {% if page %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% elif config.description %}
    <meta name="description" content="{{ config.description }}" />
    {% endif %}
    {% elif config.description %}
    <meta name="description" content="{{ config.description }}" />
    {% endif %}

    <title>{% if page and page.title %}{{page.title}} | {% endif %}{{ config.title }}</title>

    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
        %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {% block stylesheets %} {% endblock %}

    <script async defer data-website-id="720e97e2-73c8-4729-8f0b-c6cc96a3f14b"
        src="https://st.dakovdev.com/umami.js"></script>
</head>


<body>
    <div class="head p-4 mb-2">
        <div class="container px-4">
        <a href="/" style="text-decoration: none;"><h2 class="pb-2"><img src="/img/logo.png" width="40px" /> @StanislavDakov</h2></a>
        </div>
    </div>
    <div class="container px-4">
        <div class="row g-5">
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <img class="img-fluid" src="/img/avatar2.png">
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <p class="mb-0">
                            Hi, I am Stanislav Dakov. Welcome to my place. I have started this blog because I think I can share with you interesting stuff.
                        </p>
                    </div>
                    <hr />
                    <span title="What I am">Software Developer; Problem solver; Dad; Adventurer;</span>
                    <hr />
                    <div class="find_me">
                        Find me in:
                        <ul class="list-unstyled">
                            <li><a href="https://www.linkedin.com/in/stanislav-dakov"><img
                                        src="/img/linkedin.png" />LinkedIn</a></li>
                            <li><a href="https://twitter.com/StanislavDakov"><img src="/img/twitter.png" />Twitter</a>
                            </li>
                            <li><a href="https://github.com/stdakov"><img src="/img/github.png" />Github</a></li>
                        </ul>
                    </div>
                    <hr />
                    <a class="" href="/about-me">About Me</a>
                    <a class="" href="/blog">Blog</a>
                    <a class="" href="/publication">Publications</a>
                    <a class="" href="/projects">Personal Projects</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="content">
                    {% block content %} {% endblock %}
                </div>
                

            </div>


        </div>
    </div>
    <main class="{% if not current_path or current_path == '/' or current_path == '/about-me/' %}index-page{% endif %}">


    </main>
    {% block scripts %} {% endblock %}
    <script src="/dist/js/bootstrap.js"></script>
    {% include "partials/github-corner.html" %}
</body>

</html>