<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3XN50QQ48"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-E3XN50QQ48');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta property="og:image" content="/img/ProfilePhoto-400.jpg" /> -->

    {% if page %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% elif config.description %}
    <meta name="description" content="{{ config.description }}" />
    {% endif %}
    {% elif config.description %}
    <meta name="description" content="{{ config.description }}" />
    {% endif %}

    {% set og_title = config.title %}
    {% if page and page.title %}
    {% set og_title = page.title ~ " | " ~ config.title %}
    {% endif %}
    {% set og_description = config.description %}
    {% if page and page.description %}
    {% set og_description = page.description %}
    {% endif %}
    {% set og_url = config.base_url %}
    {% if page and page.permalink %}
    {% set og_url = page.permalink %}
    {% endif %}
    {% set og_image = get_url(path="/img/logo.png") %}

    <meta property="og:title" content="{{ og_title }}" />
    <meta property="og:description" content="{{ og_description }}" />
    <meta property="og:type" content="{% if page %}article{% else %}website{% endif %}" />
    <meta property="og:url" content="{{ og_url }}" />
    <meta property="og:image" content="{{ og_image }}" />

    <title>{% if page and page.title %}{{page.title}} | {% endif %}{{ config.title }}</title>

    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
        %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {% block stylesheets %} {% endblock %}

    <script defer src="https://st.dakovdev.com/script.js"
        data-website-id="4be8a2a7-7828-40ae-967e-289069847723"></script>
</head>


<body>
    <div class="head p-4 mb-2">
        <div class="container px-4">
            <a class="brand" href="/">
                <img class="brand-mark" src="/img/logo.png" width="40" height="40" alt="Logo">
                <div class="brand-text">
                    <span class="brand-title">Stanislav Dakov</span>
                    <span class="brand-subtitle">Software developer, writer, and builder</span>
                </div>
            </a>
        </div>
    </div>
    <div class="container px-4">
        <div class="row g-5">
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <img class="img-fluid sidebar-avatar" src="/img/avatar3.png"
                        style="width: 100%; margin-bottom: 20px;">
                    <div class="p-4 mb-3 rounded sidebar-bio-box">
                        <p class="mb-0 sidebar-bio">
                            Hi, I am Stanislav Dakov. Welcome to my place. I have started this blog because I think I
                            can share with you interesting stuff.
                        </p>
                    </div>
                    <nav class="sidebar-menu">
                        <a class="nav-link" href="/about-me">About Me</a>
                        <a class="nav-link" href="/blog">Blog</a>
                        <a class="nav-link" href="/publication">Publications</a>
                        <a class="nav-link" href="/projects">Personal Projects</a>
                    </nav>
                    <hr />
                    <span class="sidebar-tagline" title="What I am">Software Developer · Problem solver · Dad ·
                        Adventurer</span>
                    <hr />
                    <div class="find_me">
                        Find me on:
                        <ul class="list-unstyled">
                            <li><a href="https://www.linkedin.com/in/stanislav-dakov"><img src="/img/linkedin.png"
                                        alt="LinkedIn" />LinkedIn</a></li>
                            <li><a href="https://twitter.com/StanislavDakov"><img src="/img/twitter.png"
                                        alt="Twitter" />Twitter</a></li>
                            <li><a href="https://github.com/stdakov"><img src="/img/github.png"
                                        alt="GitHub" />GitHub</a></li>
                        </ul>
                    </div>
                    <hr />
                </div>
            </div>
            <div class="col-md-8">
                <div class="content">
                    {% block content %} {% endblock %}
                </div>


            </div>


        </div>
    </div>
    <main class="{% if not current_path or current_path == '/' or current_path == '/about-me/' %}index-page{% endif %}">


    </main>
    {% block scripts %} {% endblock %}
    <script src="/dist/js/bootstrap.js"></script>
    {% include "partials/github-corner.html" %}
</body>

</html>