{% extends "base.html" %}

{% block content %}

<h3 class="pb-4 mb-4 fst-italic border-bottom">
    From the Firehose
</h3>

{% set blogs = get_section(path="blog/_index.md") %}

{% for page in blogs.pages | sort(attribute="date") | reverse %}

<article class="blog-post">
    <a href="{{ page.permalink | safe }}"><h2 class="display-5 link-body-emphasis mb-1">{{ page.title }}</h2></a>
    <p class="blog-post-meta">{{ page.date }}//{{ page.reading_time }} min read</p>

    <p>{{ page.summary | safe }}
        <a href="{{ page.permalink | safe }}">...read on</a></p>
</article>
<hr>
{% endfor %}

{% endblock content %}