{% extends "base.html" %}

{% block content %}

{% set publication = get_section(path="publication/_index.md") %}

{% for page in publication.pages | sort(attribute="date") | reverse %}
<article class="blog-post">
    <a href="{{ page.permalink | safe }}"><h2 class="display-5 link-body-emphasis mb-1">{{ page.title }}</h2></a>
    <p class="blog-post-meta">{{ page.date }}//{{ page.reading_time }} min read</p>

    <p>{{ page.summary | safe }}
        <a href="{{ page.permalink | safe }}">...read on</a></p>
</article>
<hr>
{% endfor %}

{% endblock content %}